<!-- 
<div id="mySidenav" class="sidenav" >
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a [routerLink]="['/homepage']" routerLinkActive="router-link-active" >Home</a>
    <a [routerLink]="['/customer']" >Customer</a>
    <a [routerLink]="['/sales']" >Sales</a>
    <a [routerLink]="['/aboutUs']">About Us</a>
    <a [routerLink]="['/contactUs']"  >Contact Us</a>
    
  
    <nav class="navbar fixed-bottom navbar-light bg-primary justify-content-center">
    &copy; copyright &nbsp; <strong style="color: snow;"> Siddhiganesh Joshi</strong></nav>
  
  </div>
  
  <h2 style="text-align: center;">Data Keeping System For Petrol Pump</h2>
  
  <span style="font-size:30px;cursor:pointer; color: #000; margin-left: 10px;" (click)="openNav()"  >&#9776; </span>
  
  
   
   -->
